{% load extra_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>Inference Engine</title>
{% load staticfiles %}
    <!--link rel="stylesheet" href="{%  static 'inference2/css/style.css' %}" /-->
    <link rel="stylesheet" href="{%  static 'inference2/jquery-asPieProgress/dist/css/asPieProgress.css' %}">
    <link rel="stylesheet" href="{%  static 'inference2/css/jquery-ui.min.css' %}">
    <script src={% static 'inference2/js/jquery-1.11.3.min.js' %}> </script>
    <script src={% static 'inference2/js/jquery-ui.min.js' %}> </script>
    

    <script src={% static 'inference2/jquery-asPieProgress/dist/jquery-asPieProgress.js' %}> </script>
    <style>
     
      #progressbar 
      {
      /*background-color: yellow;*/
    
      }
      #progressbar > .ui-progressbar-value 
      {
      background-color: #ADD8E6;
    
      }
      .ui-progressbar-value {
  transition: width 1s;
  -webkit-transition: width 1s;
}
.progress-label {
    float: left;
    margin-left: 50%;
    margin-top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;

}
      table{
    border: solid 1px gray;
    width: 100%;
  }
textarea {
    border: none;
    width: 100%;
    resize: none;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}
  input[type=text] {
    width: 98%;
    padding: 0px;
    margin: 0px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}
</style>

    <script type="text/javascript">




        function textAreaAdjust(o) {
    o.style.height = "1px";
    o.style.height = (25+o.scrollHeight)+"px";
}
	function ajaxindicatorstart()
	{
		if(jQuery('body').find('#resultLoading').attr('id') != 'resultLoading'){
		jQuery('body').append('<div id="resultLoading" style="display:none"><div><div id="progressbar"><div><div class="progress-label">Solving...</div></div></div></div><div class="bg"></div></div>');
		    /**jQuery('body').append('<div id="resultLoading" style="display:none"><div><img src="{%  static 'inference2/images/ajax-loader.gif' %}"><div>Solving...Please wait...</div></div><div class="bg"></div></div>');**/


    }

		jQuery('#resultLoading').css({
			'width':'100%',
			'height':'100%',
			'position':'fixed',
			'z-index':'10000000',
			'top':'0',
			'left':'0',
			'right':'0',
			'bottom':'0',
			'margin':'auto'
		});

		jQuery('#resultLoading .bg').css({
			'background':'#000000',
			'opacity':'0.7',
			'width':'100%',
			'height':'100%',
			'position':'absolute',
			'top':'0'
		});

		jQuery('#resultLoading>div:first').css({
			'width': '250px',
			'height':'75px',
			'text-align': 'center',
			'position': 'fixed',
			'top':'0',
			'left':'0',
			'right':'0',
			'bottom':'0',
			'margin':'auto',
			'font-size':'16px',
			'z-index':'10',
			'color':'#ffffff'

		});

	    jQuery('#resultLoading .bg').height('100%');
        jQuery('#resultLoading').fadeIn(300);
	    jQuery('body').css('cursor', 'wait');
	}

	function ajaxindicatorstop()
	{
	    jQuery('#resultLoading .bg').height('100%');
        jQuery('#resultLoading').fadeOut(300);
	    jQuery('body').css('cursor', 'default');
	}

	function callAjax()
	{
		jQuery.ajax({
			type: "GET",
			url: "fetch_data.php",
			cache: false,
			success: function(res){
					jQuery('#ajaxcontent').html(res);
			}
		});
	}
/**
  jQuery(document).ajaxStart(function () {
   		//show ajax indicator
		ajaxindicatorstart();
  }).ajaxStop(function () {
		//hide ajax indicator
		ajaxindicatorstop();
  });**/
</script>
    <script>

        var ROW_LENGTH=5000;

    $(document).ready(function () {

    var result = {{ result|safe }};

        if (result)
        {
            for(var index in result) {
                $("#"+index).val(result[index]);

            }
        }

         $(document).on('click','#reset', function(e) {

            for (i =0; i < ROW_LENGTH; i++) {
            $("#text_"+i+"_1").val('');
            $("#text_"+i+"_2").val('');
            $("#text_"+i+"_3").val('');
            }

        });
           $(document).on('click','#clear', function(e) {
            var stop_found=false;

               for (i =0; i < ROW_LENGTH; i++) {
            if (!stop_found)
            {
                if ($("#text_"+i+"_2").val()=='stop')
                {
                stop_found = true

                }
            }
                else
            {
                $("#text_"+i+"_1").val('');
            $("#text_"+i+"_2").val('');
            $("#text_"+i+"_3").val('');
            }
            }


        });


         function progress()      
        {
          $.ajax({
               type: "POST",
               url: "progress",
               //async: false,
               data:{csrfmiddlewaretoken:'{{csrf_token}}' },
               success: function (result) {
                if ($('#progressbar').length) {
    //console.log("exist");
}
var v = $("#progressbar").progressbar("value");
//console.log(v)
if (v < result["K"][2])
{
$( function() {
    var progressLabel = $(".progress-label");
    $( "#progressbar" ).progressbar({
      value: result["K"][2],
      max: result["K"][1],
      min: result["K"][0],
      change: function () {
              progressLabel.text($("#progressbar").progressbar("value") + "%");
          },
      complete: function () {
              progressLabel.text("Complete!");
              progressLabel.text("Wait 10 more seconds!");
                  }


  } );
  })
}
                //$('.pie_progress').asPieProgress('go',((result["K"][2] - result["K"][0]) * 100) / (result["K"][1] - result["K"][0]));
                //console.log(((result["K"][2] - result["K"][0]) * 100) / (result["K"][1] - result["K"][0]));
               },
               error: function (err) {

               }
           });
        }  

        $(document).on('click','#prove', function(e) { //Changes
            
          ajaxindicatorstart();
          $("#progressbar").progressbar();
          setInterval(progress, 500);
          // event.preventDefault();
          
          /*
          
var jsonStream = new EventSource('http://127.0.0.1:8000/prove')
jsonStream.onmessage = function (e) {
   var message = JSON.parse(e.data);
  console.log(message);
};
           oboe('http://127.0.0.1:8000/prove')
   .done(function(things) {

   console.log(things)
   })
   .fail(function() {
  console.log("Fail")
      
   });
           $.ajax({
               type: "POST",
               url: "{{ url_path }}prove",
               data: $("#excel").serializeArray(),
              //async: false,
               success: function (result) {
                alert('sucess');
               },
               error: function (err) {

               }
           });
           */
       



       });


/**
        $(".text").bind("paste", function(e){
    // access the clipboard using the api
    var pastedData = e.originalEvent.clipboardData.getData('text');

              e.preventDefault();
    var row = Number(this.name.split('_')[1]);
    var col = Number(this.name.split('_')[2]);
    pastedData_array=pastedData.split('\n');
     var i=0;
    for ( i=0;i<pastedData_array.length;i++)
    {
        pastedData_array_row = pastedData_array[i].split('\t');
        var j=0;

        tcol=col;
        for (j=0;j<pastedData_array_row.length;j++) {

            id_str="text_"+String(row)+"_"+String(tcol);

            document.getElementById(id_str).value=pastedData_array_row[j];
        tcol = tcol+1;
        }
        row = row+1;
    }

    });

**/
//Making Input
{% autoescape off %}
{% if input %}
    {% for row in input %}
               //  id_str = "text_" + String({{forloop.counter0}}) + "_1";
               //  document.getElementById(id_str).value = "{{ row.col1}}";


               //  href = "table_output_{{row.col1}}_3";
               //  $("#a_text_" + String({{forloop.counter0}}) + "_1").attr('href','#table_output_{{row.col1}}_3');

               //  //$("#" + id_str).attr("disabled", true);
               //  $("#" + id_str).attr('readonly', true);
               //  $("#" + id_str).css('background-color', '#DCDCDC');


               // id_str = "text_" + String({{ forloop.counter0 }}) + "_2";
               // document.getElementById(id_str).value = "{{row.col2|safe}}";
               // //$("#" + id_str).attr("disabled", true);
               //  $("#" + id_str).attr('readonly', true);
               //  $("#" + id_str).css('background-color', '#DCDCDC');

               // id_str = "text_" + String({{ forloop.counter0 }}) + "_3";
               // document.getElementById(id_str).value = "{{  row.col3}}";
               // //$("#" + id_str).attr("disabled", true);
               //  $("#" + id_str).attr('readonly', true);
               //  $("#" + id_str).css('background-color', '#DCDCDC');
    {% endfor %}
        {% endif %}

{% endautoescape %}

     $('textarea').on('change',function(){
      console.log('hi');
          });

     (function($) {
    $.fn.goTo = function() {
        $('html, body').animate({
            scrollTop: $(this).offset().top + 'px'
        }, 'slow');
        return this; // for chaining...
    }
})(jQuery);

     $(function(){
      console.log("Prove");
     if (result["type"] == "prove")
     {
      
      var stop_found = false;

               for (i =0; i < ROW_LENGTH; i++) {
            if (!stop_found)
            {
                if ($("#text_"+i+"_2").val()=='stop')
                {
                stop_found = true
                $("#text_"+i+"_2").goTo();
            
                break;
                }
            }
                else
            {
                $("#text_"+i+"_1").val('');
            $("#text_"+i+"_2").val('');
            $("#text_"+i+"_3").val('');
            }
            }
     }})

    });




    </script>
</head>


<body>
<form id="excel" method="post">
 {% csrf_token %}
<!--input type="button" name="reset" value="Reset" id="reset"/-->
<table>
<tr>
<td><input type="submit" name="prove" value="Prove" id="prove"/></td>
<td><input type="button" name="clear" value="Clear Result" id="clear"/></td>
<td><a href="{{ url_path }}dictionary" target="_blank">Show Dictionary</a></td>
<td><a href="/archives" target="_blank">Archives</a></td>
<td><a href="/manual" target="_blank">Instructions</a></td>
<td><a href="{{ url_path }}getdict" target="_blank">Get Dictionary</a></td>
<td width="60%" align="right">{{ archive_date }}</td>
</tr>
</table>
<hr/>


<table border="1" >
<col width="10%">
<col width="70%">
<col width="20%">

{% for i in input %}
    <tr>
    <td id="table_{{ forloop.counter }}_1"><a id="a_text_{{ forloop.counter }}_1" href ="#table_output_{{i.col1}}_3"><textarea disabled readonly onchange="textAreaAdjust(this)" style="background-color:#DCDCDC; overflow:hidden" class="text" name="text_{{ forloop.counter }}_1" id="text_{{ forloop.counter }}_1">{{i.col1}}</textarea></a></td>
    <td id="table_{{ forloop.counter }}_2"><textarea disabled readonly onchange="textAreaAdjust(this)" style="background-color:#DCDCDC;overflow:hidden" class="text" name="text_{{ forloop.counter }}_2" id="text_{{ forloop.counter }}_2">{{i.col2}}</textarea></td>
    <td id="table_{{ forloop.counter }}_3"><textarea disabled readonly onchange="textAreaAdjust(this)" style="background-color:#DCDCDC;overflow:hidden" class="text" name="text_{{ forloop.counter }}_3" id="text_{{ forloop.counter }}_3">{{i.col3}}</textarea></td>
    </tr>
{% endfor %}

{% for i in output%}
    <tr>
    <td id="table_output_{{i}}_1"><textarea onchange="textAreaAdjust(this)" style="overflow:hidden" class="text" name="table_output_{{i}}_1" id="table_output_{{i}}_1">{{i.col1}}</textarea></td>
    <td id="table_output_{{i}}_2"><textarea onchange="textAreaAdjust(this)" style="overflow:hidden" class="text" name="table_output_{{i}}_2" id="table_output_{{i}}_2">{{i.col2}}</textarea></td>
    <td id="table_output_{{i}}_3"><textarea onchange="textAreaAdjust(this)" style="overflow:hidden" class="text" name="table_output_{{i}}_3" id="table_output_{{i.col3}}_3">{{i.col3}}</textarea></td>
    </tr>
{% endfor %}
</table>

</form>
</body>
</html>