{% load extra_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>Inference Engine</title>
{% load staticfiles %}
    <!--link rel="stylesheet" href="{%  static 'inference2/css/style.css' %}" /-->
    <script src={% static 'inference2/js/jquery-1.11.3.min.js' %}> </script>
    <style>
      table{
    border: solid 1px gray;
    width: 100%;
  }
textarea {
    border: none;
    width: 100%;
    resize: none;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}
  input[type=text] {
    width: 98%;
    padding: 0px;
    margin: 0px;
}
</style>

    <script type="text/javascript">

        function textAreaAdjust(o) {
    o.style.height = "1px";
    o.style.height = (25+o.scrollHeight)+"px";
}
	function ajaxindicatorstart(text)
	{
		if(jQuery('body').find('#resultLoading').attr('id') != 'resultLoading'){
		jQuery('body').append('<div id="resultLoading" style="display:none"><div><img src="{%  static 'inference2/images/ajax-loader.gif' %}"><div>'+text+'</div></div><div class="bg"></div></div>');
		}

		jQuery('#resultLoading').css({
			'width':'100%',
			'height':'100%',
			'position':'fixed',
			'z-index':'10000000',
			'top':'0',
			'left':'0',
			'right':'0',
			'bottom':'0',
			'margin':'auto'
		});

		jQuery('#resultLoading .bg').css({
			'background':'#000000',
			'opacity':'0.7',
			'width':'100%',
			'height':'100%',
			'position':'absolute',
			'top':'0'
		});

		jQuery('#resultLoading>div:first').css({
			'width': '250px',
			'height':'75px',
			'text-align': 'center',
			'position': 'fixed',
			'top':'0',
			'left':'0',
			'right':'0',
			'bottom':'0',
			'margin':'auto',
			'font-size':'16px',
			'z-index':'10',
			'color':'#ffffff'

		});

	    jQuery('#resultLoading .bg').height('100%');
        jQuery('#resultLoading').fadeIn(300);
	    jQuery('body').css('cursor', 'wait');
	}

	function ajaxindicatorstop()
	{
	    jQuery('#resultLoading .bg').height('100%');
        jQuery('#resultLoading').fadeOut(300);
	    jQuery('body').css('cursor', 'default');
	}

	function callAjax()
	{
		jQuery.ajax({
			type: "GET",
			url: "fetch_data.php",
			cache: false,
			success: function(res){
					jQuery('#ajaxcontent').html(res);
			}
		});
	}

  jQuery(document).ajaxStart(function () {
   		//show ajax indicator
		ajaxindicatorstart('Solving.. please wait..');
  }).ajaxStop(function () {
		//hide ajax indicator
		ajaxindicatorstop();
  });
</script>
    <script>

        var ROW_LENGTH=15000;

    $(document).ready(function () {
    var result = {{ result|safe }};
        if (result)
        {
            for(var index in result) {
                $("#"+index).val(result[index]);

            }
        }

         $(document).on('click','#reset', function(e) {

            for (i =0; i < ROW_LENGTH; i++) {
            $("#text_"+i+"_1").val('');
            $("#text_"+i+"_2").val('');
            $("#text_"+i+"_3").val('');
            }

        });
           $(document).on('click','#clear', function(e) {
            var stop_found=false;

               for (i =0; i < ROW_LENGTH; i++) {
            if (!stop_found)
            {
                if ($("#text_"+i+"_2").val()=='stop')
                {
                stop_found = true
                }
            }
                else
            {
                $("#text_"+i+"_1").val('');
            $("#text_"+i+"_2").val('');
            $("#text_"+i+"_3").val('');
            }
            }


        });


        $(document).on('click','#prove1', function(e) { //Changes

           $.ajax({
               type: "POST",
               url: "{{ url_path }}prove",
               data: $("#excel").serialize(),
               //async: false,
               success: function (result) {
                alert('sucess');
               },
               error: function (err) {

               }
           });
       });


/**
        $(".text").bind("paste", function(e){
    // access the clipboard using the api
    var pastedData = e.originalEvent.clipboardData.getData('text');

              e.preventDefault();
    var row = Number(this.name.split('_')[1]);
    var col = Number(this.name.split('_')[2]);
    pastedData_array=pastedData.split('\n');
     var i=0;
    for ( i=0;i<pastedData_array.length;i++)
    {
        pastedData_array_row = pastedData_array[i].split('\t');
        var j=0;

        tcol=col;
        for (j=0;j<pastedData_array_row.length;j++) {

            id_str="text_"+String(row)+"_"+String(tcol);

            document.getElementById(id_str).value=pastedData_array_row[j];
        tcol = tcol+1;
        }
        row = row+1;
    }

    });

**/
//Making Input
{% if input %}
    {% for row in input %}
                id_str = "text_" + String({{forloop.counter0}}) + "_1";
                document.getElementById(id_str).value = "{{ row.col1}}";

                //$("#" + id_str).attr("disabled", true);
                $("#" + id_str).attr('readonly', true);
                $("#" + id_str).css('background-color', '#DCDCDC');


               id_str = "text_" + String({{ forloop.counter0 }}) + "_2";
               document.getElementById(id_str).value = "{{row.col2}}";
               //$("#" + id_str).attr("disabled", true);
                $("#" + id_str).attr('readonly', true);
                $("#" + id_str).css('background-color', '#DCDCDC');

               id_str = "text_" + String({{ forloop.counter0 }}) + "_3";
               document.getElementById(id_str).value = "{{  row.col3}}";
               //$("#" + id_str).attr("disabled", true);
                $("#" + id_str).attr('readonly', true);
                $("#" + id_str).css('background-color', '#DCDCDC');
    {% endfor %}
        {% endif %}


     $('textarea').on('change',function(){
      console.log('hi');
          });

    });




    </script>
</head>


<body>
<form id="excel" method="post">
 {% csrf_token %}
<!--input type="button" name="reset" value="Reset" id="reset"/-->
<input type="submit" name="prove" value="Prove" id="prove"/>
<input type="button" name="clear" value="Clear Result" id="clear"/>
<a href="{{ url_path }}dictionary" target="_blank">Show Dictionary</a>
<a href="/archives" target="_blank">Archives</a>
<hr/>

<table border="1" >
<col width="10%">
<col width="70%">
<col width="20%">

{% for i in 15000|range %}
    <tr>
    <td id="table_{{i}}_1"><textarea onchange="textAreaAdjust(this)" style="overflow:hidden" class="text" name="text_{{i}}_1" id="text_{{i}}_1"></textarea></td>
    <td id="table_{{i}}_2"><textarea onchange="textAreaAdjust(this)" style="overflow:hidden" class="text" name="text_{{i}}_2" id="text_{{i}}_2"></textarea></td>
    <td id="table_{{i}}_3"><textarea onchange="textAreaAdjust(this)" style="overflow:hidden" class="text" name="text_{{i}}_3" id="text_{{i}}_3"></textarea></td>
    </tr>
{% endfor %}

</table>

</form>
</body>
</html>